/* TOC */
/*
use (ctrl+f: ||) to jump to sections

1. General Styles
2. Utilities
3. Sitewide
4. Page: Timeline
5. Page: Resume
6. Page: User Manual
7. Page: Personal
8. Media Queries
*/

/* || 1. General Styles */

html {
  font-family: 'Rubik','Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* LAYOUT */
  --gap: 2rem;
  --maxWidth: 1600px;
  /**/
  /* TEXT COLORS */
  --lightColor: rgba(255,255,255,.95); /* white */
  --darkColor: rgba(25,25,25,.95); /* dark gray */
  --accent1: rgba(24,74,102,1); /*teal*/
  --accent2: rgba(50,40,2,1); /*dark*/
  --accent3: rgba(98,32,74,1); /*reddish*/
}

body {
  height: 100vh;
  line-height: 1.6rem;
  width: 100%;
}

h1, h2, h3, h4, h5 {

}

ul, ol {

}

a:hover {
  text-decoration-color: var(--accent3);
  transition: text-decoration-color 1s .5s 0;
}

blockquote {

}

figcaption {
	color: inherit;
	font-size: .75rem;
}

/* || 2. Utilities */

/* || 3. Sitewide */

/*header and navigation default*/
header {
  align-items: center;
  background-color: rgba(0,0,0,.1);
  background: linear-gradient(328deg, rgba(24,74,102,1) 0%, rgba(50,40,2,1) 35%, rgba(98,32,74,1) 100%);
	box-shadow: inset 0 -2px 5px rgb(0,0,0,.33);
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: .5rem 2rem;
}

header a {
  font-weight: 400;
  color: var(--lightColor);
  text-decoration: none;
  text-transform: uppercase;
}

header svg.logo {
  width: 75px;
}

.logo-text {
  font-family: 'Cairo', sans-serif;
}

header nav ul {
  display: flex;
  height: 100%;
}

header nav ul li {
  font-size: .75rem;
  height: 100%;
  padding: 1.5rem 1rem;
  text-align: center;
}

header nav ul li a:hover {
  background-color: rgba(0,0,0,.1);
}

/* main content */

main.page-wrap {
  margin: 0 auto;
  max-width: var(--maxWidth);
  padding: var(--gap);
}

.page-wrap a, .page-wrap a:link, .page-wrap a:visited, .page-wrap a:hover, .page-wrap a:active {
  font-weight: bold;
  color: var(--accent2);
	text-decoration: underline;
	text-decoration-color: var(--accent1);
	text-decoration-thickness: .2rem;
}

/* footer */

footer {
  margin: 0 auto;
  max-width: var(--maxWidth);
  padding: var(--gap);
}

/* || 4. Page: Timeline */

/* || 5. Page: Resume */

/* || 6. Page: User Manual */

/* || 7. Page: Personal */

/* || 8. Media Queries */
