html {
  /* LAYOUT */
  --gap: 1rem;
  --maxWidth: 1600px;
  /*TEXT STYLES*/
  --headingFont: 'Jura','Roboto',sans-serif;
  --accentFont: 'Bitter', serif;
  --lightColor: #faeceb; /* white */
  --darkColor: #15131b; /* dark blue */
  --accent1: #15b9c4; /* dim blue */
  --accent2: #ff8135; /* orange */
  --accent3: #ff6683; /* pink */
  --accent4: #85ba35; /* green */
  background-color: var(--darkColor);
  font-family: 'Roboto','Helvetica', sans-serif;
  font-size: 20px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: var(--lightColor);
  line-height: 1.6rem;
}

::-webkit-scrollbar {
  width: 12px;
  background-color:rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.0);
	background-color: rgba(24,74,102,.22);
}

h1, h2, h3, h4, h5 {
  display: block;
  font-family: var(--headingFont);
  text-transform: uppercase;
}

h1 {
  font-size: inherit;
}

h2 {
  font-size: 2rem;
  margin-bottom: calc(var(--gap) * 2);
}

a {
  color: inherit;
  text-decoration: underline;
}

header, footer {
  background-color: rgba(24,74,102,.2);
  background: linear-gradient(328deg, rgba(24,74,102,.1) 0%, rgba(50,40,2,.11) 35%, rgba(98,32,74,.21) 100%);
  font-size: .75rem;
  min-height: var(--gap);
  width: 100%;
}

footer {
  padding: var(--gap);
}


.page-wrap {
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 calc(var(--gap) * 2);
  width: auto;
}

aside {
  min-height: 100%;
  max-width: 25%;
}

.icon-logo {
  max-width: 100%;
  padding: var(--gap);
  text-align: center;
}

.icon-logo-init {
  max-height: 75px;
}

.text-logo {
  font-family: var(--headingFont);
  text-transform:uppercase;
}

nav {
  background-color: rgba(55,55,55,.1);
  border: 1px solid rgba(150,150,150,.1);
  border-radius: 5px;
  position: sticky;
  top: var(--gap);
}

nav>div {
  padding: var(--gap);
}

nav ul li {
  padding: var(--gap);
  text-align: center;
}

nav ul li:hover {
  animation: glow-grow 2s ease-out infinite;
}

@keyframes glow-grow {
    0% {
      box-shadow: inset 0px 0px 15px rgba(15,240,252,.025);
    }
    80% {
      box-shadow: inset 0px 0px 15px rgba(15,240,252,.10);
    }
    100% {
      box-shadow: inset 0px 0px 15px rgba(15,240,252,.05);
    }
}

nav a {
  text-decoration: none;
}

main {
  height: auto;
  min-width: 75%;
  padding: var(--gap);
}

section {
  min-height: 100vh;
  padding: calc(var(--gap) * 2) var(--gap);
  scroll-behavior: smooth;
  width: 100%;
}

#hi {
  padding-top: calc(var(--gap) * 6);
}


@media (max-width:1190px) {
  html {
    font-size: 16px;
    min-width: 568px;
  }
}
