/* TOC */
/*
use (ctrl+f: ||) to jump to sections

1. General Styles
2. Utilities
3. Sitewide
4. Page: Timeline
5. Page: Resume
6. Page: User Manual
7. Page: Personal
8. Media Queries
*/

/* || 1. General Styles */

html {
  /* LAYOUT */
  --gap: 1rem;
  --maxWidth: 1600px;
  /*TEXT STYLES*/
  --headingFont: 'Jura','Roboto',sans-serif;
  --lightColor: #15eceb; /* white */
  --darkColor: #151e2b; /* dark gray */
  --accent1: #15b9c4; /* dim blue */
  --accent2: #ff8135; /* orange */
  --accent3: #ff6683; /* pink */
  --accent4: #85ba35; /* green */
  background-color: var(--darkColor);
  font-family: 'Bitter','Helvetica', sans-serif;
  font-size: 20px;
}

body {
  color: var(--lightColor);
  line-height: 1.6rem;
}

h1, h2, h3, h4, h5 {
  font-family: var(--headingFont);
  text-transform: uppercase;
}
