/*
TOC
use (ctrl+f: ||) to jump to sections

1. General Styles
2. Utilities
3. Sitewide
4. Page: Timeline
5. Page: Resume
6. Page: User Manual
7. Page: Personal
8. Media Queries
*/

/* || 1. General Styles */

html {
  /* LAYOUT */
  --gap: 1rem;
  --maxWidth: 1600px;
  /*TEXT STYLES*/
  --headingFont: 'Jura','Roboto',sans-serif;
  --accentFont: 'Bitter', serif;
  --lightColor: #faeceb; /* white */
  --darkColor: #15131b; /* dark blue */
  --accent1: #15b9c4; /* dim blue */
  --accent2: #ff8135; /* orange */
  --accent3: #ff6683; /* pink */
  --accent4: #85ba35; /* green */
  background-color: var(--darkColor);
  font-family: 'Roboto','Helvetica', sans-serif;
  font-size: 20px;
}

body {
  color: var(--lightColor);
  line-height: 1.6rem;
}

h1, h2, h3, h4, h5 {
  font-family: var(--headingFont);
  text-transform: uppercase;
}


/* || 2. Utilities */

/* || 3. Sitewide */

.page-wrap {
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
}

aside {
  max-width: 25%;
}

main {
  max-width: 75%;
}
