/*
	Comment
*/

html {
	background: #14212b;
	background-repeat: no-repeat;
	background-size: cover;
	color: rgb(255,255,255, .8);
	font-family: 'Rubik','Arial', sans-serif;
	font-size: 16px;
	font-weight: 400;
	height: 100%;
	line-height: 1.4rem;
	width: 100%;
}

.site-header a {
	text-decoration:none;
	text-transform: uppercase;
}

.header-logo {
	font-family: 'Cairo', sans-serif;
}

