/*
	Comment
*/

html {
	background: #14212b;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Rubik','Arial', sans-serif;
	font-size: 16px;
	font-weight: 400;
	height: 100%;
	line-height: 1.4rem;
	width: 100%;
}

body {
	margin: 0;	
}

header a {
	color: rgb(255, 255, 255);
	display: flex;
	text-decoration:none;
	text-transform: uppercase;
}


.logo, .title {
	font-family: 'Cairo', sans-serif;
}
/*
.site-header .logo, .site-header .logo>a {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	padding: 1.2rem 1rem;
	position: relative;
}
*/

nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
}

.main-nav li {
	justify-content: space-between;
}

main {
	
}

section {
	
}

footer {
	
}