/*
	Comment
*/

html {
	background-color: #202020;
	font-family: 'Arial', sans;
	font-size: 16px;
}

body {
	width: 100%;
}

header a {
	color: rgb(255, 255, 255);
	display: flex;
	text-decoration:none;
	text-transform: uppercase;
}


.logo {
	
}

.site-header .logo, .site-header .logo>a {
	dipslay: flex;
	align-items: center;
}

nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
}

.main-nav li {
	justify-content: space-between;
}

main {
	
}

section {
	
}

footer {
	
}