/* || ROBOTO */

@font-face {
  font-family:'Roboto';
  src:url('../../resources/fonts/roboto-light-webfont.woff') format('woff'),
      url('./resources/fonts/roboto-light-webfont.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family:'Roboto';
  src:url('../../resources/fonts/roboto-lightitalic-webfont.woff') format('woff'),
      url('../../resources/fonts/roboto-lightitalic-webfont.woff2') format('woff2');
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src:url('../../resources/fonts/roboto-regular-webfont.woff') format('woff'),
      url('../../resources/fonts/roboto-regular-webfont.woff') format('woff2');
  font-display: swap;
  font-style: bold;
  font-weight: normal;
}

/* || NeuroPol */

@font-face {
  font-family: 'Neuropol';
  src:url('../../resources/fonts/neuropol.woff') format('woff'),
      url('../../resources/fonts/neuropol.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
}

/* || NeuroPol */

@font-face {
  font-family: 'Hypologic';
  src:url('../../resources/fonts/Hypologic.ttf') format('ttf');
  font-display: swap;
  font-style: normal;
}
