/* || ROBOTO */

@font-face {
  font-family:'Roboto';
  src:url('../../resources/fonts/roboto-light-webfont.woff') format('woff'),
      url('./resources/fonts/roboto-light-webfont.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family:'Roboto';
  src:url('../../resources/fonts/roboto-lightitalic-webfont.woff') format('woff'),
      url('../../resources/fonts/roboto-lightitalic-webfont.woff2') format('woff2');
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src:url('../../resources/fonts/roboto-regular-webfont.woff') format('woff'),
      url('../../resources/fonts/roboto-regular-webfont.woff') format('woff2');
  font-display: swap;
  font-style: bold;
}

/* || NeuroPol */

@font-face {
  font-family: 'Neuropol';
  src:url('../../resources/fonts/neuropol.woff') format('woff'),
      url('../../resources/fonts/neuropol.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
}

/* || Hypologic */

@font-face {
  font-family: 'Hypologic';
  src:url('../../resources/fonts/Hypologic.ttf') format('ttf');
  font-display: swap;
  font-style: normal;
}

/* || Bitter */

@font-face {
  font-family: 'Bitter';
  src:url('../../resources/fonts/Bitter-Light.ttf') format('ttf');
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Bitter';
  src:url('../../resources/fonts/Bitter-LightItalic.ttf') format('ttf');
  font-display: swap;
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Bitter';
  src:url('../../resources/fonts/Bitter-Regular.ttf') format('ttf');
  font-display: swap;
  font-style: bold;
}

@font-face {
  font-family: 'Bitter';
  src:url('../../resources/fonts/Bitter-Thin.ttf') format('ttf');
  font-display: swap;
  font-style: lighter;
}

@font-face {
  font-family: 'Bitter';
  src:url('../../resources/fonts/Bitter-ThinItalic.ttf') format('ttf');
  font-display: swap;
  font-style: italic;
  font-weight: lighter;
}
