/* || ROBOTO */

@font-face {
  font-family:'Roboto';
  src:url('../../resources/fonts/roboto-light-webfont.woff') format('woff'),
      url('../resources/fonts/roboto-light-webfont.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family:'Roboto';
  src:url('../../resources/fonts/roboto-lightitalic-webfont.woff') format('woff'),
      url('../../resources/fonts/roboto-lightitalic-webfont.woff2') format('woff2');
  font-display: swap;
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src:url('../../resources/fonts/roboto-regular-webfont.woff') format('woff'),
      url('../../resources/fonts/roboto-regular-webfont.woff') format('woff2');
  font-display: swap;
  font-style: bolder;
  font-weight: bold;
}

/* || NeuroPol */

@font-face {
  font-family: 'Neuropol';
  src:url('../../resources/fonts/neuropol.woff') format('woff'),
      url('../../resources/fonts/neuropol.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
}

/* || Hypologic */

@font-face {
  font-family: 'Hypologic';
  src:url('../../resources/fonts/Hypologic.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
}

/* || Bitter */

@font-face {
  font-family: 'Bitter';
  src:url('../../resources/fonts/Bitter-Regular.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Bitter';
  src:url('../../resources/fonts/Bitter-Italic.ttf') format('truetype');
  font-display: swap;
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Bitter';
  src:url('../../resources/fonts/Bitter-Light.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: lighter;
}

@font-face {
  font-family: 'Bitter';
  src:url('../../resources/fonts/Bitter-LightItalic.ttf') format('truetype');
  font-display: swap;
  font-style: italic;
  font-weight: lighter;
}

@font-face {
  font-family: 'Bitter';
  src:url('../../resources/fonts/Bitter-SemiBold.ttf') format('truetype');
  font-display: swap;
  font-weight: bolder;
}

@font-face {
  font-family: 'Bitter';
  src:url('../../resources/fonts/Bitter-SemiBoldItalic.ttf') format('truetype');
  font-display: swap;
  font-style: italic;
  font-weight: bolder;
}
