
/* CTRL+F: || FOR CSS SECTION HEADINGS */

html {
	/* Variables */
	--darkColor: #282828;
	--lightColor: #fff;
	--midGray: #707070;
	--lightGreen: #efffe8;
	--midGreen: #c7e0bc;
	--darkGreen: #90ba7f;
	--gap: 1.25rem;
	--titleFont: 'Jura','Roboto',sans-serif;
	--contentFont:'Roboto','Helvetica',sans-serif;
	--accentFont: 'Bitter', serif;
	background-color: var(--lightColor);
	box-sizing: border-box;
	color: var(--darkColor);
	font-family: var(--contentFont);
	font-size: 20px;
	overflow-x: hidden;
	overscroll-x: none;
	scroll-behavior: smooth;
	scroll-padding: 0;
	-webkit-overflow-scrolling: auto;
}

body {
	overflow-x: hidden;
	overscroll: none;
}

.nobgd {
	background:none;
}

.lightGreen {
	background-color: var(--lightGreen);
	color: var(--darkColor);
}

.midGreen {
	background-color: var(--midGreen);
	color: var(--darkColor);
}

.darkGreen {
	background-color: var(--darkGreen);
	color: var(--darkColor);
}

.page-header {

}

.page-wrap {
	overflow-x: hidden;
	overscroll-x: none;
	-webkit-overflow-scrolling: auto;
}

.page-footer {
	width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--lightColor);
}

::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.0);
	background-color: var(--darkColor);
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

}

h1,
h2,
h3 {
	color: inherit;
	font-family: var(--titleFont);
	margin: 1.4em 0;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	display: inline-block;
	font-size: 1.25rem;
	padding: .25rem .5rem;
}

h4 {
	font-size: 1rem;
	font-weight: bold;
	font-style: italic;
}

h5 {
	font-size: .85rem;
	font-weight: 900;
}

.subtitle {
	font-size: .85rem;
	font-style: italic;
}

a {
	color: inherit;
}

a:focus, a:hover {
	text-decoration: underline;
	text-decoration-color: inherit;
}


/* || HEADER */

.page-header {
	align-items: flex-start;
	background-color: var(--lightColor);
	display: flex;
	height: calc(var(--gap) * 2);
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	z-index:999;
}

.logo {
	align-items: center;
	display: flex;
	height: 100%;
}

.logo-icon {
	background-color: var(--darkColor);
	padding: .25rem 0;
	text-align:center;
	vertical-align: middle;
	width: 4rem;
}

.logo-icon-actual {
	max-width: 80%;
}

.logo-text {
	font-family: var(--titleFont);
	padding-left: var(--gap);
	text-transform: uppercase;
}

.nav-header {
	display:none;
	max-height: calc(var(--gap) * 2);
}

.menu {
	align-items: center;
	display: flex;
	list-style: none;
}

.page-header a {
	text-decoration: none;
}

.page-header .menu  a:hover {
	text-decoration: underline;
	text-decoration-color: inherit;
	text-decoration-thickness: 2px;
}

.page-header .menu a:focus, {
	text-decoration: none;
}

.menu li {
	font-size: .75rem;
	padding: 0 var(--gap);
}

.menu-button, .menu-button-open {
	display: inline;
	max-height: 100%;
	padding-top: .5rem;
	padding-right: .5rem;
	width: 1.5rem;
}

.menu-button-open {
	display: none;
}

/* || CONTENT */

.page-wrap {
	display: flex;
	height: auto;
	overflow-x: hidden;
	top: calc(var(--gap) * 2);
	width: 100%;
}

main {
	height: auto;
}

.page-main-content {
	width: 100%;
	margin: 0;
	overflow-x: hidden;
}

.social {
	display: none;
}

section {
	min-height: 100vh;
	padding-bottom: var(--gap);
	padding-left: var(--gap);
	padding-right: var(--gap);
	padding-top: calc(var(--gap) * 1.5);
	padding-bottom: calc(var(--gap) * 3);
	margin: 0 auto;
	margin-top: calc(-1 * calc(var(--gap) * 2));
}

section p, section li {
	line-height: 1.5rem;
}

section ul {
	padding: 0;
}

section li {
	display: block;
	margin-bottom: var(--gap);
	list-style: none;
}

section li:before{
	content:"» ";
}

ul.nodec>li {
	margin-left: 0rem;
	max-width: 95%;
	padding-right: 1rem;
}

ul.nodec>li:before {
	content: "";
}

section#hi {
	padding-top: 5rem;
}

section .card {
	border-radius: 5px;
	margin: var(--gap);
}

section .card h4 {
	text-align: center;
}

section .card p, section .card li {
	text-align:left;
}

section .card p {
	font-size: .85rem;
	padding: .5rem;
	text-align: justify;
	text-justify: inter-character;
}

section .card ul {
	padding-left: 2rem;
	font-size: .85rem;
}

section .card ul li:first-of-type {
	list-style: none;
	font-weight: bold;
	font-style: italic;
}

section .card ul li:first-of-type:before {
	content: none;
}

section img {
	border-radius: 3px;
	max-width: 100%;
}

table {
	width: 100%;
	margin: calc(var(--gap) * 4) 0;
}

td {
	background-color: var(--midGray);
	border-radius: 5px;
	padding: var(--gap);
}

span.subtitle-break {
	display: block;
}

.mobile-hide {
	display:none;
}

span.mobile-hide {
	display: none;
}

.email::before {
	content: "podonohue";
}

.email::after {
	content: "pm.me";
}

.footnotes {
	bottom: 0;
	font-size: .75rem;
	min-width: 300px;
	width: 75%;
}

 .inline-img {
	 width: 1.5rem;
	 margin: 0 .5rem;
	 margin-bottom: -.5rem;
	 overflow: visible;
 }

/* Dark Background Light Text */

.darkBgd-lightTxt {
	background-color: var(--darkColor);
	color: var(--lightColor);
}

.darkBgd-lightTxt h3 {
	background-color: var(--lightColor);
	color: var(--darkColor);
}

.darkBgd-lightTxt .card {
	border: 1px solid var(--lightColor);
}

/* Light Background Dark Text */

.lightBgd-darkTxt {
	background-color: var(--lightColor);
	color: var(--darkColor);
}

.lightBgd-darkTxt h3 {
	background-color: var(--darkColor);
	color: var(--lightColor);
}

.lightBgd-darkTxt .card {
	border: 1px solid var(--darkColor);
}

/*section content and flex */

.section-content {
	text-align: left;
}

.flex-container {
	display: block;
}

.flex-item-25pct {
	width: 100%;
}

.flex-item-33pct {
	width: 100%;
}

.flex-item-50pct {
	width: 100%;
}

.flex-item-66pct {
	width: 100%;
}

.flex-item-75pct {
	width: 100%;
}



/* || FOOTER */
.page-footer {
	background-color: var(--lightColor);
	color: var(--darkColor);
	font-size: .75rem;
	min-height: 2rem;
	padding: var(--gap);
}

/* || Mobile First */
@media (max-width: 479px) {
	section p {
		width: 100%;
	}

	section li {
		width: 100%;
	}

	section .card {
		margin: var(--gap) 0;
		min-width: 100%;
	}

	section .card p {
		padding: calc(var(--gap) / 2);
		max-width: calc(100% - var(--gap));
	}

	table {
		font-size: .75rem;
	}

	td {
		padding: calc(var(--gap) / 3);
	}
}

@media (min-width: 480px) {
  /*CSS for medium width screens*/
	html {
		overflow-x: hidden;
	}

	.page-main-content {
		width: 100%;
		margin-left: 4rem;
		margin-right: 4rem;
	}

	.flex-container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	.flex-item-25pct {
		width: 25%;
	}

	.flex-item-33pct {
		width: 33.33%;
	}

	.flex-item-50pct {
		width: 50%;
	}

	.flex-item-66pct {
		width: 66.66%;
	}

	.flex-item-75pct {
		width: 75%;
	}

	.flex-item-100pct {
		display: flex;
		width: 100%;
	}

	.page-footer {
		padding-left: 4rem;
	}
	.footnotes {
		margin-bottom: -3rem;
		position: absolute;
	}

	span.subtitle-break {
		display: inline-block;
	}

	.mobile-hide {
		display: inline;
	}

	span.mobile-hide {
		display: inline-block;
	}

	ul.nodec>li {
		margin-left: 2rem;
	}
}

@media (min-width: 800px) {
  /*CSS for wide screens*/
	.menu-button {
		display:none;
	}
	.nav-header {
		display: flex;
	}
}

@media (min-width: 1100px) {
  /*CSS for really wide screens*/
}
